# WeatherPy

In [2]:
# Dependencies
import pandas as pd
import json
from pprint import pprint
import requests
# from config import API_KEY_OPEN_WEATHER
import os
from dotenv import load_dotenv
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
weather_api_key = os.getenv("API_KEY_OPEN_WEATHER")

In [24]:
# Get a list of city names
city_data = pd.read_csv('./Resources/city_list.csv')
city_data.head()

   rank         Name Country  Population      Prev  Growth
0     1        Tokyo   Japan    37339804  37393128 -0.0014
1     2        Delhi   India    31181376  30290936  0.0294
2     3     Shanghai   China    27795702  27058480  0.0272
3     4    Sao Paulo  Brazil    22237472  22043028  0.0088
4     5  Mexico City  Mexico    21918936  21782378  0.0063

In [23]:
# Isolate the city name
city_name = city_data[['Name']]
city_name.head()

          Name
0        Tokyo
1        Delhi
2     Shanghai
3    Sao Paulo
4  Mexico City

In [26]:
# Get a random sample of city names
test_sample = city_name.sample(n=3)
# city_name_sample = city_name.sample(n=500)

In [34]:
# Reset index and display the sample of city names
test_sample = test_sample.reset_index(drop=True)
test_sample

      Name
0  Antwerp
1    Essen
2  Saratov

In [35]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
# city = "Houston"

# Build query URL
query_url = url + "appid=" + weather_api_key + "&q=" + test_sample
query_url = f"{url}appid={weather_api_key}&q={test_sample['Name'][0]}&units=imperial"
print(query_url)

http://api.openweathermap.org/data/2.5/weather?appid=a7f7414ef848ef9ac3ce7eb8d4b647fb&q=Antwerp&units=imperial

In [36]:
# Get weather data
weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")
print("-"*64)
pprint(weather_json)

The weather API responded with: {'coord': {'lon': 4.4035, 'lat': 51.2199}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 69.44, 'feels_like': 68.95, 'temp_min': 66.06, 'temp_max': 71.06, 'pressure': 1026, 'humidity': 61}, 'visibility': 10000, 'wind': {'speed': 5.99, 'deg': 44, 'gust': 14}, 'clouds': {'all': 20}, 'dt': 1629826740, 'sys': {'type': 2, 'id': 2006860, 'country': 'BE', 'sunrise': 1629780189, 'sunset': 1629830804}, 'timezone': 7200, 'id': 2803138, 'name': 'Antwerp', 'cod': 200}.
----------------------------------------------------------------
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 51.2199, 'lon': 4.4035},
 'dt': 1629826740,
 'id': 2803138,
 'main': {'feels_like': 68.95,
          'humidity': 61,
          'pressure': 1026,
          'temp': 69.44,
          'temp_max': 71.06,
          'temp_min': 66.06},
 'name': 'Antwerp',
 'sys': {'country': 'BE',
         'id': 2006860,
         'sunrise': 1629780189,
         'sunset': 1629830804,
         'type': 2},
 'timezone': 7200,
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 44, 'gust': 14, 'speed': 5.99}}

In [41]:
# Get temperature from JSON response
temperature = weather_json["main"]["temp"]

# Report temperature
print(f"The temperature in {test_sample['Name'][0]} is {temperature:0.1f} F and {(temperature-32)*5/9:0.1f} C.")

The temperature in Antwerp is 69.4 F and 20.8 C.